Source: configsnap
Maintainer: Piers Cornwell <piers.cornwell@rackspace.co.uk>
Homepage: https://github.com/rackerlabs/configsnap
Section: admin
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9)

Package: configsnap
Architecture: all
Description: configsnap records important system state information and can optionally compare with a previous state and identify changes
